* { padding: 0; margin: 0;}

body{ color: white; background-color: rgb(91, 195, 207);}

#navbar{ background-color: rgba(228, 72, 72, 0.89); height: 30px;}

a{ margin: 150px; }

.content{ margin: 15px; border-style: solid; width: 400px; }

.header {
    position: absolute;
    height: auto;
    left: 0px;
    width: 250px; }

button{
    
    background-color: aqua;
    border-radius: 10px;
    height: 50px;
    }

footer{
    color: blueviolet;
    background-color: rgb(232, 229, 151);
    text-align: center; 
    border-style: solid; }

p{ color: aliceblue; font-weight: 900;}

h1{ color: rgb(252, 24, 12); text-align: center;}
h2{ color: bisque; padding: 20px;}
h3{ color: rgb(98, 14, 176);}
